{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true
  },
  "rules": {
  }
}
